.orders {

}
.orderHeader {
   text-align: center;
   font: bold 12px Helvetica, Arial, sans-serif;
   color: white;
   background: grey;
}
.orderHeader:link {
   color: white;
}

.evenColumn {
   
   width: 120px;
   font: 12px Helvetica, Arial, sans-serif;
   background: #C3D9FF;
}
.oddColumn {
  
   width: 120px;
   font: 12px Helvetica, Arial, sans-serif;
   background: lightgrey;
}

.buttons {
   font: 12px Helvetica, Arial, sans-serif;
   background: #C3D9FF;
}

.textfield {
   width: 100%;
}
